@import url('https://fonts.googleapis.com/css?family=Inter');

html, head, body {
	font-family: 'Inter', sans-serif;

	margin: 0;
	padding: 0;
}

input {
	flex-grow: 1;
	font-size: medium;

	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&:focus {
		border-bottom: 1px solid black;
	}
}

input[type=datetime-local] {
	font-size: 16px;
}

select {
	font-size: medium;

	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&:focus {
		border-bottom: 1px solid black;
	}
}

input[type=submit], button[type=submit] {
	font-size: medium;
	font-weight: bold;

	padding: 5px 10px;

	border: none;
	border-radius: 5px;

	background-color: #007bff;
	color: white;

	cursor: pointer;

	&:hover {
		background-color: #0056b3;
	}
}

button:disabled {
	background-color: #d3d3d3;
	color: #a9a9a9;

	cursor: not-allowed;
}